<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add your space for rent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sec-1">
    <div>
      <h6 style="color: #383a3e;font-weight: bold; margin-bottom: 15px;">Enter Country</h6>
    </div>
    <div>
      <ion-item lines="none">
        <ion-label style="color: #737373;">Choose your country</ion-label>
        <ion-select ok-text="Ok" cancel-text="Cancel">
          <ion-select-option *ngFor="let country of countryList">
            {{ country.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <div class="sec-2">
    <div>
      <h6 style="color: #383a3e;font-weight: bold; margin-bottom: 15px;">Enter Address of your parking space</h6>
    </div>
    <form [formGroup]="firstFormGroup">
      <ion-item>
        <ion-input clearInput type="text" formControlName="address" placeholder="Enter Address"></ion-input>
      </ion-item>
    </form>
  </div>

  <div class="sec-3">
    <div>
      <h5 style="color: #383a3e; margin-top: 20px;text-align: center;"><b>Add images of your parking
          space</b></h5>
    </div>
    <div>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-card-content class="ion-text-center">
              <img src="" alt="">
              <ion-icon name="add-circle-outline" mode="ios"></ion-icon>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <img src="" alt="">
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <img src="" alt="">
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-content>
              <img src="" alt="">
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-button expand="full" color="secondary" style="margin: 0px;height: 40px;" routerLink="/rentspace/rentspacedetails"
    routerDirection="forward">Next</ion-button>
</ion-footer>