<ion-header no-border>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add your space for rent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <div>
          <h5>Enter Address of your parking space</h5>
        </div>
        <div>
          <ion-item>
            <ion-label>Country</ion-label>
            <ion-select ok-text="Ok" cancel-text="Cancel">
              <ion-select-option *ngFor="let country of countryList">
                {{ country.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border color="light">
  <ion-button expand="full" color="secondary">Continue</ion-button>
</ion-footer>