ion-header{
    background:#0cd1e8;
}

ion-col{
    padding: 0px 16px !important;
}
h4{
    border-bottom: 1px solid gainsboro;
    line-height: 2;
    font-size: 18px !important;
}
ion-icon{
    color: #0cd1e8;
}
ion-label{
    color: #424242 !important;
    font-size: 15px !important;
}
.fullname{
    color: white !important;
}
ion-item{
    --background: #f4f5f8;
}
