<ion-app>
  <ion-menu side="start" contentId="my-content">
    <ion-header no-border>
      <ion-toolbar class="ion-no-padding ion-text-center" mode="ios">
        <span style="color: dodgerblue; font-size: 24px;font-weight: bold;">Park</span><span
          style="color: orangered;font-size: 24px;font-weight: bold;">Smart</span>
      </ion-toolbar>
      <ion-avatar class="avatar">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMyiXYD1CwGJvsSeE_i_1jEAsb_rm8rclwjfAu9mNHzhijHEui&s"
          alt="">
      </ion-avatar>
      <div style="text-align: center;margin-top: 15px;margin-bottom: 30px;">
        <b>{{fullName | titlecase }}</b><br>
      </div>
      <hr>
    </ion-header>
    <ion-content>
      <ion-list class="ion-no-padding">
        <ion-item lines="none" color="none" routerLink="/usermanagement">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label class="menu-list">User Management</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/spacemanagement">
          <ion-icon name="filing" slot="start"></ion-icon>
          <ion-label class="menu-list">Space Management</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/promocodegen">
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-label class="menu-list">Promo Code Generate</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="my-content">
    <ion-header no-border>
      <ion-toolbar no-border mode="ios">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon name="notifications" class="notification-icon" routerLink=""></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon name="chatbubbles" class="chat-icon" routerLink=""></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-icon name="more" class="more-icon" routerLink=""></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div style="margin-left: 24px;">
        <h4 style="font-weight: bold;">Dashboard</h4>
        <p style="color: dimgrey;font-weight: bold;">Welcome aboard, {{ fullName | titlecase }} </p>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card mode="ios">
              <ion-item>
                <ion-avatar>
                  <img src="../../../assets/images/dollar.png" alt="">
                </ion-avatar>
                <ion-card-header>
                  <ion-card-subtitle>Revenue</ion-card-subtitle>
                  <ion-label style="font-weight: bold;">$5777545</ion-label>
                </ion-card-header>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card mode="ios">
              <ion-item>
                <ion-avatar>
                  <img src="../../../assets/images/vision.png" alt="">
                </ion-avatar>
                <ion-card-header>
                  <ion-card-subtitle>Total views</ion-card-subtitle>
                  <ion-label style="font-weight: bold;">12545</ion-label>
                </ion-card-header>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card mode="ios">
              <ion-item>
                <ion-avatar>
                  <img src="../../../assets/images/cloud.png" alt="">
                </ion-avatar>
                <ion-card-header>
                  <ion-card-subtitle>Downloads</ion-card-subtitle>
                  <ion-label style="font-weight: bold;">32654</ion-label>
                </ion-card-header>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card mode="ios">
              <ion-item>
                <ion-avatar>
                  <img src="../../../assets/images/flag.png" alt="">
                </ion-avatar>
                <ion-card-header>
                  <ion-card-subtitle>Flagged</ion-card-subtitle>
                  <ion-label style="font-weight: bold;">951246</ion-label>
                </ion-card-header>
              </ion-item>
            </ion-card>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col class="col-lg-6 col-12">
            <ion-card class="ion-padding ion-no-margin" mode="ios">
              <div>
                <h6>Sales Statistics Overview</h6>
                <small>For the year 2020</small>
              </div>
              <div class="d-flex" style="margin-top: 30px;">
                <div>
                  <p style="color: black;">Total Cost</p>
                  <h5>15,554</h5>
                </div>
                <div style="margin-left:30px ;">
                  <p style="color: black;">Total Revenue</p>
                  <h5>$753,654</h5>
                </div>
              </div>
              <ion-card-content class="ion-no-padding">
                <canvas #lineChart></canvas>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col class="col-lg-6 col-12">
            <ion-card class="ion-padding ion-no-margin" mode="ios">
              <div>
                <h6>Sales Statistics Overview</h6>
                <small>Started collecting data from Jan 2020</small>
              </div>
              <div class="d-flex" style="margin-top: 30px;">
                <div>
                  <p style="color: black;">Total Cost</p>
                  <h5>15,554</h5>
                </div>
                <div style="margin-left:30px ;">
                  <p style="color: black;">Total Revenue</p>
                  <h5>$753,654</h5>
                </div>
              </div>
            <ion-card-content class="ion-no-padding">
              <canvas #barChart></canvas>
            </ion-card-content>
          </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-app>