ion-col{
    margin-top: 20px;
}
ion-icon{
    padding: 5px;
    font-size: 25px;
    background: white;
    border-radius: 50%;
}
ion-card{
    margin-top: 10px;
}
.fb-icon{
    margin: 0px 10px;
    border: 1px solid #3880ff;
}
.msg-icon{
    border: 1px solid #ffce00;
}
.w-icon{
    border: 1px solid #10dc60;
}

ion-label{
    font-size: 15px !important;
}
ion-card-content{
    font-size: 14px;
}
ion-card{
    background: white;
}

ion-segment-button{
   
}