<ion-app>
  <ion-menu side="start" contentId="my-content">
    <ion-header no-border>
      <ion-avatar>
        <img src="https://i.pinimg.com/originals/d8/fc/1b/d8fc1b977f9eacac2940a3372917c75f.png" class="logo" alt="">
      </ion-avatar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-label><a routerLink="/bookparking">Book a parking space</a></ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-label><a routerLink="/mybookings">My bookings</a> </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="time" slot="start"></ion-icon>
          <ion-label><a routerLink="/messages">Messages</a> </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="key" slot="start"></ion-icon>
          <ion-label><a routerLink="/rentspace">Rent out your space</a> </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="help-circle-outline" slot="start"></ion-icon>
          <ion-label><a routerLink="/promocodes">Promo codes</a> </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="filing" slot="start"></ion-icon>
          <ion-label><a routerLink="/tickets&permits">Tickets & Permits</a> </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="cash" slot="start"></ion-icon>
          <ion-label><a routerLink="/invite">Invite Friends</a> </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="wallet" slot="start"></ion-icon>
          <ion-label><a routerLink="/help">Help</a> </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label><a routerLink="/about">About</a> </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-item routerLink="/user" lines="none">
        <ion-avatar slot="start">
          <img [src]="[userImg]">
        </ion-avatar>
        <ion-label>
          <b>{{userName}}</b>
          <p>{{mobileNumber}}</p>
        </ion-label>
        <ion-icon name="arrow-dropright" slot="end"></ion-icon>
      </ion-item>
    </ion-footer>
  </ion-menu>

  <div class="ion-page" id="my-content">
    <ion-header no-border>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        Rento Cab
      </ion-title>
      <ion-searchbar></ion-searchbar>
      <ion-searchbar showCancelButton="always"></ion-searchbar>
      <ion-searchbar showCancelButton="never"></ion-searchbar>
      <ion-searchbar showCancelButton="focus"></ion-searchbar>
    </ion-header>

    <ion-content>
      <div #mapElement class="map"></div>
    </ion-content>

  </div>
</ion-app>