<ion-app>
  <ion-menu side="start" contentId="my-content">
    <ion-header no-border>
      <ion-toolbar class="ion-no-padding">
        <ion-avatar>
          <img src="https://i.pinimg.com/originals/d8/fc/1b/d8fc1b977f9eacac2940a3372917c75f.png"  alt="logo">
        </ion-avatar>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-no-padding">
        <ion-item lines="none" color="none" routerLink="/mybookings">
          <ion-icon name="card" slot="start"></ion-icon>
          <ion-label>My bookings</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/messages">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Messages</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/rentspace">
          <ion-icon name="cash" slot="start"></ion-icon>
          <ion-label>Rent out your space</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/promocodes">
          <ion-icon name="pricetag" slot="start"></ion-icon>
          <ion-label>Promo codes</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/tickets&permits">
          <ion-icon name="filing" slot="start"></ion-icon>
          <ion-label>Tickets & Permits</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/invite">
          <ion-icon name="contacts" slot="start"></ion-icon>
          <ion-label>Invite Friends</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/help">
          <ion-icon name="help-circle" slot="start"></ion-icon>
          <ion-label>Help</ion-label>
        </ion-item>
        <ion-item lines="none" color="none" routerLink="/about">
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label>About</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer no-border>
      <ion-item routerLink="/user-details" lines="none" color="none">
        <ion-avatar slot="start">
          <img [src]="[userImg]">
        </ion-avatar>
        <ion-label>
          <b>{{fullName | titlecase }}</b><br>
          <small>My Profile</small>
        </ion-label>
        <ion-icon name="arrow-dropright" slot="end"></ion-icon>
      </ion-item>
    </ion-footer>
  </ion-menu>

  <div class="ion-page" id="my-content">
    <ion-header no-border>
      <ion-toolbar no-border mode="ios">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <span style="color: dodgerblue;">Park</span><span style="color: orangered;">Smart</span>
        </ion-title>
        <ion-buttons slot="end">
          <ion-icon name="notifications"  class="notification-icon" routerLink="/messages"></ion-icon>
          <ion-badge color="danger">10</ion-badge>
        </ion-buttons>
      </ion-toolbar>
      <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()"
        placeholder="Enter destination location"></ion-searchbar>
      <ion-list *ngIf="clearAutocomplete()" [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
      <div class="d-flex flex-row">
        <div>
          <div class="d-flex flex-column">
            <div>
              <ion-label>Check-In</ion-label>
            </div>
            <div>
              <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate"></ion-datetime>
            </div>
          </div>
        </div>
        <div class="ml-auto">
          <div class="d-flex flex-column">
            <div>
              <ion-label>Check-Out</ion-label>
            </div>
            <div>
              <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate"></ion-datetime>
            </div>
          </div>
        </div>
      </div>
    </ion-header>

    <ion-content>
      <div id="map_canvas"></div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light" (click)="getCurrentLocation()">
          <ion-icon name="locate"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
    
  </div>
</ion-app>