<ion-app>
  <ion-header no-border>
    <ion-toolbar no-border color="none" mode="ios">
      <ion-avatar>
        <img src="https://i.pinimg.com/originals/d8/fc/1b/d8fc1b977f9eacac2940a3372917c75f.png" alt="">
      </ion-avatar>
      <ion-title>
        <span style="color: dodgerblue;">Park</span><span style="color: orangered;">Smart</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="text-center">
            <h2>Register here to create an account.</h2>
          </div>
          <div>
            <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm.value)">
              <ion-item color="none" class="ion-no-padding">
                <ion-label position="floating">Full Name</ion-label>
                <ion-input type="text" formControlName="fullName"></ion-input>
              </ion-item>
              <div class="error" *ngIf="registerForm.get('fullName').hasError('required') && (registerForm.get('fullName').touched 
                        || registerForm.get('fullName').dirty)">
                <small>Please enter your fullname</small>
              </div>
              <ion-item color="none" class="ion-no-padding">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error"
                  *ngIf="registerForm.get('email').hasError(validation.type)  && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                  <small>{{ validation.message}}</small>
                </div>
              </ng-container>
              <ion-item color="none" class="ion-no-padding">
                <ion-label position="floating">Mobile Number</ion-label>
                <ion-input type="tel" inputmode="tel" (keypress)="isInputNumber($event)" formControlName="mobileNumber"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.mobileNumber">
                <div class="error"
                  *ngIf="registerForm.get('mobileNumber').hasError(validation.type)  && (registerForm.get('mobileNumber').dirty || registerForm.get('mobileNumber').touched)">
                  <small>{{ validation.message}}</small>
                </div>
              </ng-container>
              <ion-item color="none" class="ion-no-padding">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error"
                  *ngIf="registerForm.get('password').hasError(validation.type)  && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                  <small>{{ validation.message}}</small>
                </div>
              </ng-container>
              <ion-item color="none" class="ion-no-padding">
                <ion-label position="floating">Confirm Password</ion-label>
                <ion-input type="password" formControlName="confirmPassword"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.confirmPassword">
                <div class="error"
                  *ngIf="registerForm.get('confirmPassword').hasError(validation.type)  && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                  <small>{{ validation.message}}</small>
                </div>
              </ng-container>
              <ion-item color="none" lines="none" class="mt-3" class="ion-no-padding">
                <ion-checkbox slot="start" color="danger" formControlName="terms"></ion-checkbox>
                <ion-label>I accept terms and conditions</ion-label>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.terms">
                <div class="error"
                  *ngIf="registerForm.get('terms').hasError(validation.type)  && (registerForm.get('terms').dirty || registerForm.get('terms').touched)">
                  <small>{{ validation.message}}</small>
                </div>
              </ng-container>
              <div>
                <ion-fab>
                  <ion-fab-button (click)="onFormSubmit(registerForm.value)" [disabled]="registerForm.invalid">
                    <ion-icon name="paper-plane"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>